

.error-marker {
	background-color: red;
}

.error-marker-0 {
	background-color: #FFFFFF;
}

.error-marker-1 {
	background-color: #FFEEEE;
}

.error-marker-2 {
	background-color: #FFDDDD;
}

.error-marker-3 {
	background-color: #FFCCCC;
}

.error-marker-4 {
	background-color: #FFBBBB;
}

.error-marker-5 {
	background-color: #FFAAAA;
}

.error-marker-6 {
	background-color: #FF9999;
}

.error-marker-7 {
	background-color: #FF8888;
}

.error-marker-8 {
	background-color: #FF7777;
}

.error-marker-9 {
	background-color: #FF6666;
}

.error-marker-10 {
	background-color: #FF5555;
}

.error-marker-11 {
	background-color: #FF4444;
}

.error-marker-12 {
	background-color: #FF3333;
}

.error-marker-13 {
	background-color: #FF2222;
}

.error-marker-14 {
	background-color: #FF1111;
}

.error-marker-15 {
	background-color: #FF0000;
}

.error-marker-16 {
	background-color: #CC0000
;
}